<!DOCTYPE html>
<html>
<head>
  <title>Middle|Ground</title>
  <link href='https://fonts.googleapis.com/css?family=family=Josefin+Slab|Work+Sans:400' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">


  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= Rails.application.secrets.googlemaps_api_key %>&libraries=places"></script>
  

  
</head>
<body>

<%= yield %>

</body>
</html>
