<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'locationpin.png' %>
  <title>Middle|Ground</title>
  <link href='https://fonts.googleapis.com/css?family=family=Josefin+Slab|Work+Sans:400' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
  </script>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= Rails.application.secrets.googlemaps_api_key %>&libraries=places"></script>
</head>
<body>
  <div id= "header">
    <h2 id="logo1">middle</h2>
    <%= image_tag("locationpin.png") %>
    <h2 id="logo2">ground</h2>

      <ul class="accordion">
        <li>
          <button class="accordion-control">About this site:</button>
          <div class="accordion-panel">
              <h4>Find the midpoint between you and a friend! </h4>
              <h4>1. Put in 2 locations.</h4>
              <h4>2. Click on midpoint marker to zoom in.</h4>
              <h4>3. Click on the button ‘Places to go!’ to find things to do the area.</h4>
              <h4>4. Specify location, type and click twice on 'Search for places of interest'.</h4>
          </div>
        </li>
      </ul>
      
  </div> 
<%= yield %>

</body>
</html>
